@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Ubuntu:wght@500&display=swap');
html, body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #eee;
}

h1 {
  margin: 120px auto;
  padding: 0;
  font-family: 'Share Tech', sans-serif;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
}

h2 {
  padding-top: 30px;
  padding-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-style: italic;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* ------------- Navigation bar ------------- */

nav {
  background-color: rgb(205, 241, 255);
  padding: 0rem;
  height: 0;
  min-height: 8vh;
  overflow: hidden;
  position: relative;
}

.nav-link:hover {
  background-color: rgba(0, 132, 255, 0.8);
  cursor: pointer;
}

.link-1:hover a, .link-2:hover a, .link-3:hover a {
  color: #fff;
}

/* --- Navigation bar blog name --- */

.blog-name {
  font-size: 1.9rem;
  padding: 1.5rem 1rem;
  display: block;
  font-family: 'Roboto', sans-serif;
}

/* --- Navigation bar middle list --- */

.top-nav-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid rgb(217, 255, 0) 0px;
}

.top-nav {
  justify-content: space-between;
}

.nav-items {
  display: flex;
  margin: 0;
  height: 6rem;
  padding: 0em 10px;
  position: relative;
  border: solid rgb(255, 0, 0) 0px;
}

.nav-link {
  padding: 1.7rem 1rem;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  position: relative;
  border: solid rgb(14, 226, 138) 0px;
}

/* --- Navigation bar icons --- */

.social-icons {
  padding: 2.1rem 2rem;
}

.social-icons i {
  padding: 0rem 0.2rem;
  size: 1rem;
}

.social-icons i:hover {
  color: #a1c4cf;
}

/* ------------- Header Section ------------- */

.head-conatiner {
  height: 800px;
  background-image: url("../images/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ------------- Main Section ------------- */

.main-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 10px;
  height: auto;
}

.content {
  grid-area: 1 / 2 / 13 / 4;
}

.posts-grid {
  display: grid;
  width: auto;
  grid-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  border: solid #3363ff;
}

.grid-item {
  background-color: #fff;
  display: flex;
  height: auto;
  width: auto;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
  border: solid rgb(241, 0, 0) 2px;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.card-img {
  position: relative;
  height: 250px;
  min-width: 200px;
}

.card-content {
  padding: 1rem;
}

.card-header {
  font-size: 2rem;
  font-weight: 500;
  color: #0d0d0d;
  font-family: "Ubuntu", sans-serif;
}

.card-text {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  color: #3d3d3d;
  margin-bottom: 1.5rem;
  font-family: "Ubuntu";
}

.card-button {
  display: block;
  width: auto;
  padding: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
  font-family: "Ubuntu";
}

.card-button span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-button:hover, .card-button:active {
  background-color: #c2cffc;
}

.card-button span:hover, .card-button span:active {
  margin-left: 1.5rem;
}

/* ------------ Aside --------------- */
.aside {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  grid-area: 1 / 4 / 13 / 5;
  /* border: solid rgb(255, 136, 0) 2px; */
}

.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  margin: 0 auto;
  /* border: solid rgb(0, 255, 170) 2px; */
}

.personal-img {
  margin-top: 130px;
  height: 200px;
  border-radius: 100%;
}

.personal-img-cap {
  margin-top: 1rem;
  text-align: center;
  font-family: "Roboto";
}

.popular-posts {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  /* border: solid rgb(0, 255, 170) 2px; */
}

.popular-post-1 {
  margin-bottom: 25px;
  height: 200px;
  text-align: center;
  /* border: solid rgb(212, 0, 255) 2px; */
}

.popular-post-2 {
  margin-bottom: 10px;
  text-align: center;
  /* border: solid rgb(212, 0, 255) 2px; */
}

.popular-caption {
  font-family: "Share Tech", sans-serif;
}

.popular-header {
  font-family: "Share Tech", sans-serif;
}

.popular-img {
  height: 160px;
  width: 180px;
}

.newsletter {
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  /* border: solid #0d0d0d 2px; */
}

.form-container {
  padding: 20px;
  background-color: #eee;
}

input{
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #4caf4fd7;
  color: white;
  border: none;
}

input[type=submit]:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* ------------ Footer ------------ */

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(68, 68, 68);
  color: white;
  text-align: center;
}

.copyright {
  padding: 20px auto;
}

.copyright > p {
  letter-spacing: 0.1rem;
  line-height: 1.7;
}

/* ------ Viewpot less than or equal to 1500 (Tablet view)------ */

@media (max-width: 800px) {
  .main-content {
    margin: 0rem 2rem;
 }
 .content {
    grid-area: 1 / 1 / 13 / 5;
 }
 .aside {
    grid-area: 1 / 5 / 13 / 6;
 }
 .posts-grid {
    grid-template-columns: repeat(1, 1fr);
 }
 .card-img {
    width: 36em;
 }
}
  /* ------ Viewpot less than or equal to 900 (Phone view) ------ */
  @media (max-width: 500px) {
    .main-content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr);
    }
    .content {
      grid-area: 1 / 1 / 4 / 2;
    }
    .aside {
      grid-area: 4 / 1 / 6 / 2;
    }
    .card-img {
      min-width: 55em;
      max-width: 100vh;
    }
  }