@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* ------------- Navigation bar ------------- */

nav {
  background-color: skyblue;
  padding: 0rem;
  height: 0;
  min-height: 8vh;
  overflow: hidden;
  position: relative;
}

.nav-link:hover {
  background-color: rgb(0, 106, 206);
}

.nav-items:hover a{
  color: #fff;
}

/* --- Navigation bar blog name --- */
.blog-name {
  font-size: 1.9rem;
  padding: 2rem 1rem;
  display: block;
  font-family: 'Roboto', sans-serif;
}

/* --- Navigation bar middle list --- */
.top-nav-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.top-nav {
  justify-content: space-between;
  border: solid rgb(255, 0, 191) 1px;
}

.nav-items {
  display: flex;
  margin: 0;
  height: 6rem;
  padding: 0 10px;
  position: relative;
  border: solid rgb(100, 0, 0) 0px;
}

.nav-link {
  padding: 1.7rem 1rem;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  position: relative;
  border: solid rgb(14, 226, 138) 0px;
}

/* --- Navigation bar icons --- */
.social-icons {
  padding: 2.5rem 2rem;
}

.social-icons i{
  padding: 0rem 0.2rem;
  size: 1rem;
}

/* ------ Viewpot less than or equal to 1200 (Tablet view)------ */

@media (max-width: 1200px) {

}

/* ------ Viewpot less than or equal to 900 (Phone view) ------ */

@media (max-width: 900px) {

}
