@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Ubuntu:wght@500&display=swap');

html,
body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  margin: 120px auto;
  padding: 0;
  font-family: 'Share Tech', sans-serif;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  /* transform: translate(-50%, -50%); */
}

h2 {
  padding-top: 30px;
  padding-bottom: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* ------------- Navigation bar ------------- */

nav {
  background-color: rgb(43, 195, 255);
  padding: 0rem;
  height: 0;
  min-height: 8vh;
  overflow: hidden;
  position: relative;
}

.nav-link:hover {
  background-color: rgb(0, 106, 206);
  cursor: pointer;
}

.link-1:hover a,
.link-2:hover a,
.link-3:hover a{
  color: #fff;
}

/* --- Navigation bar blog name --- */
.blog-name {
  font-size: 1.9rem;
  padding: 2rem 1rem;
  display: block;
  font-family: 'Roboto', sans-serif;
}

/* --- Navigation bar middle list --- */
.top-nav-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid rgb(217, 255, 0) 0px;
}

.top-nav {
  justify-content: space-between;
}

.nav-items {
  display: flex;
  margin: 0;
  height: 6rem;
  padding: 0 10px;
  position: relative;
  border: solid rgb(255, 0, 0) 0px;
}

.nav-link {
  padding: 2.2rem 1rem;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  position: relative;
  border: solid rgb(14, 226, 138) 0px;
}

/* --- Navigation bar icons --- */
.social-icons {
  padding: 2.5rem 2rem;
}

.social-icons i{
  padding: 0rem 0.2rem;
  size: 1rem;
}

.social-icons i:hover {
  color: #a1c4cf;
}

/* ------------- Header Section ------------- */

.head-conatiner {
  height: 800px;
  background-image: url("../images/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ------------- Main Section ------------- */

.main-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  height: 1666px;
  border: solid rgb(174, 34, 255) 2px;
}

.content {
  grid-area: 1 / 2 / 13 / 4;
  border: solid #8f8 2px;
}

.posts-horizental {
  display: flex;
  justify-content: space-between;
  height: 550px;
  border: solid rgb(255, 0, 0) 2px;
  overflow: hidden;
}

.post-1-card {
  height: 370px;
  border: solid rgb(190, 50, 50) 2px;
}

.post-1 {
  background-image: url("../images/cpu.jpg");
  height: 250px;
  width: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid aqua 2px;
}

.post-2-card {
  height: 370px;
  border: solid rgb(190, 50, 50) 2px;
}

.post-2 {
  background-image: url("../images/gpu.jpg");
  height: 250px;
  width: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid aqua 2px;
}

.post-3-card {
  height: 370px;
  border: solid rgb(190, 50, 50) 2px;
}

.post-3 {
  background-image: url("../images/post-11.jpg");
  width: 150px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid aqua 2px;
}

.aside {
  grid-area: 1 / 4 / 13 / 5;
  border: solid #8f8 2px;
}



/* ------ Viewpot less than or equal to 1200 (Tablet view)------ */

@media (max-width: 1200px) {

}

/* ------ Viewpot less than or equal to 900 (Phone view) ------ */

@media (max-width: 900px) {

}