/* Navigation bar + Header styles */

html, body {
   margin: 0;
   box-sizing: border-box;
   overflow-x: hidden;
   background-color: #eee;
}

h1 {
   padding-top: 30px;
   padding-bottom: 15px;
   font-family: 'Roboto', sans-serif;
   font-size: 40px;
   font-style: italic;
   font-weight: 800;
}

h2 {
   padding-bottom: 15px;
   font-family: 'Roboto', sans-serif;
   font-size: 32px;
}

a {
   text-decoration: none;
}

li {
   list-style-type: none;
}

/* ------------- Navigation bar ------------- */

nav {
   background-color: rgb(204, 225, 233);
   padding: 0rem;
   height: 0;
   min-height: 8vh;
   /* overflow: hidden; */
   position: relative;
   border: aqua solid;
}

/* --- Navigation bar blog name --- */

.blog-name {
   font-size: 1.9rem;
   padding: 1.5rem 1rem;
   padding-bottom: 0;
   display: block;
   font-family: 'Roboto', sans-serif;
   border: gold solid;
}

/* --- Navigation bar middle list --- */

.top-nav-flex {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   border: slateblue solid;
}

.top-nav {
   justify-content: space-between;
}

.nav-items {
   display: flex;
   margin: 0;
   height: 4.9rem;
   padding: 0em 10px;
   position: relative;
}

.nav-link {
   padding: 1.7rem 1rem;
   font-size: 1.5rem;
   font-family: 'Roboto', sans-serif;
   position: relative;
   /* border: solid rgb(14, 226, 138) 2px; */
}


.nav-link:hover {
   background-color: rgba(0, 76, 148, 0.8);
   cursor: pointer;
}

.link-1:hover a, .link-2:hover a {
   color: #fff;
}

/* --- Navigation bar icons --- */

.social-icons {
   padding: 2.1rem 2rem;
   border: solid rgb(14, 226, 138) 2px;
}

.social-icons i {
   padding: 0rem 0.2rem;
   size: 1rem;
}

.social-icons i:hover {
   color: #a1c4cf;
}

/* ------------- Header Section ------------- */

.head-conatiner {
   height: 800px;
   background-image: url("../images/header.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

@media (max-width: 800px) {

}

@media (max-width: 480px) {
   nav {
      padding: 0rem;
      height: 0;
      min-height: 30vh;
   }
   
   /* --- Navigation bar blog name --- */
   
   .blog-name {
      font-size: 1.9rem;
      padding: 1.5rem 1rem;
   }
   
   /* --- Navigation bar middle list --- */
   
   .top-nav-flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border: slateblue solid;
   }
   
   .top-nav {
      justify-content: space-between;
   }
   
   .nav-items {
      display: flex;
      margin: 0;
      height: 4.9rem;
      padding: 0.2em 0px;
      position: relative;
   }
   
   .nav-link {
      padding: 1.7rem 0.5rem;
      font-size: 1.5rem;
      font-family: 'Roboto', sans-serif;
      position: relative;
      /* border: solid rgb(14, 226, 138) 2px; */
   }
   
   .nav-link:hover {
      background-color: rgba(0, 76, 148, 0.8);
      cursor: pointer;
   }
   
   /* --- Navigation bar icons --- */
   
   .social-icons {
      padding: 2.1rem 2rem;
      border: solid rgb(14, 226, 138) 2px;
   }
   
   .social-icons i {
      padding: 0rem 0.2rem;
      size: 1rem;
   }
}
