@import url(./navigation.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Ubuntu:wght@500&display=swap');

p {
   font-family: 'Roboto', sans-serif;
}

/* ------------- Main Section ------------- */

.main-content {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(12, 1fr);
   grid-column-gap: 10px;
   height: auto;
}

.content {
   grid-area: 1 / 2 / 13 / 4;
   display: flex;
   flex-direction: column;
}

p {
   letter-spacing: 0.08rem;
   line-height: 1.7;
}

.cpu-img {
   border-radius: 5%;
   max-height: 400px;
   max-width: 400px;
   justify-self: center;
}

.cpu-caption {
   margin: 3px 20px;
   text-align: center;
}

.author-img {
   margin-top: 50px;
   height: 150px;
   border-radius: 100%;
}

.author-bio {
   width: 200px;
   cursor: pointer;
   background-color: #fff;
}

.author-bio:hover {
   background-color: #555;
   color: #fff;
}

/* ------------ Aside --------------- */

.aside {
   display: flex;
   flex-direction: column;
   padding: 0 1rem;
   grid-area: 1 / 4 / 13 / 5;
}

.personal-info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-bottom: 50px;
   margin: 0 auto;
}

.personal-img {
   margin-top: 130px;
   height: 200px;
   border-radius: 100%;
}

.personal-img-cap {
   margin-top: 1rem;
   text-align: center;
   font-family: "Roboto";
}

.popular-posts {
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 50px;
}

.popular-post-1 {
   margin-bottom: 25px;
   height: 200px;
   text-align: center;
}

.popular-post-2 {
   margin-bottom: 10px;
   text-align: center;
}

.popular-caption, .popular-header {
   font-family: "Share Tech", sans-serif;
}

.popular-img {
   height: 160px;
   width: 180px;
}

.newsletter {
   padding: 0rem 1rem;
   font-family: "Roboto", sans-serif;
   background-color: #fff;
}

.form-container {
   margin: 15px 0;
   padding: 20px;
   background-color: #eee;
}

input {
   width: 100%;
   padding: 12px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
}

input[type=submit] {
   background-color: #4caf4fd7;
   color: white;
   border: none;
}

input[type=submit]:hover {
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
   cursor: pointer;
}

/* ------------ Footer ------------ */

footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 40px;
   background-color: rgb(68, 68, 68);
   color: white;
   text-align: center;
}

.copyright {
   padding: 20px auto;
   text-decoration: underline;
}

.copyright>p {
   letter-spacing: 0.1rem;
   line-height: 1.7;
}

/* ------ Viewpot less than or equal to 800 (Tablet view)------ */

@media (max-width: 800px) {
   .main-content {
      margin: 0rem 2rem;
   }
   .content {
      grid-area: 1 / 1 / 13 / 5;
   }
   .aside {
      grid-area: 1 / 5 / 13 / 6;
   }
   .posts-grid {
      grid-template-columns: repeat(1, 1fr);
   }
}

/* ------ Viewpot less than or equal to 600 (Phone view) ------ */

@media (max-width: 600px) {
   .main-content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
   }
   .content {
      grid-area: 1 / 1 / 4 / 2;
   }
   .aside {
      grid-area: 4 / 1 / 7 / 2;
   }
}