@import url(./navigation.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Ubuntu:wght@500&display=swap');

/* ------------- Main Section ------------- */

.main-content {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 10px;
  height: auto;
}

.content {
  grid-area: 1 / 2 / 13 / 4;
}

.posts-grid {
  display: grid;
  width: auto;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  align-items: start;
  overflow: hidden;
}

.grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
}

.card-header {
  font-size: 2rem;
  font-weight: 500;
  color: #0d0d0d;
  font-family: "Ubuntu", sans-serif;
}

.card-text {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  color: #3d3d3d;
  margin-bottom: 1.5rem;
  font-family: "Ubuntu";
}

.card-button {
  display: block;
  width: auto;
  padding: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
  font-family: "Ubuntu";
}

.card-button span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-button:hover, .card-button:active {
  background-color: #c2cffc;
}

.card-button span:hover, .card-button span:active {
  margin-left: 1.5rem;
}

/* ------------ Aside --------------- */

.aside {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  grid-area: 1 / 4 / 13 / 5;
}

.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  margin: 0 auto;
}

.personal-img {
  margin-top: 130px;
  height: 200px;
  border-radius: 100%;
}

.personal-img-cap {
  margin-top: 1rem;
  text-align: center;
  font-family: "Roboto";
}

.popular-posts {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.popular-post-1 {
  margin-bottom: 25px;
  height: 200px;
  text-align: center;
}

.popular-post-2 {
  margin-bottom: 10px;
  text-align: center;
}

.popular-caption {
  font-family: "Share Tech", sans-serif;
}

.popular-header {
  font-family: "Share Tech", sans-serif;
}

.popular-img {
  height: 160px;
  width: 180px;
}

.newsletter {
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

.form-container {
  padding: 20px;
  background-color: #eee;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #4caf4fd7;
  color: white;
  border: none;
}

input[type=submit]:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* ------------ Footer ------------ */

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(68, 68, 68);
  color: white;
  text-align: center;
}

.copyright {
  padding: 20px auto;
}

.copyright>p {
  letter-spacing: 0.1rem;
  line-height: 1.7;
}

/* ------ Viewpot less than or equal to 800 (Tablet view)------ */

@media (max-width: 800px) {
  .main-content {
    margin: 0rem 2rem;
  }
  .content {
    grid-area: 1 / 1 / 13 / 5;
  }
  .aside {
    grid-area: 1 / 5 / 13 / 6;
  }
  .posts-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ------ Viewpot less than or equal to 600 (Phone view) ------ */

@media (max-width: 600px) {
  .main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  .content {
    grid-area: 1 / 1 / 4 / 2;
  }
  .aside {
    grid-area: 4 / 1 / 6 / 2;
  }
}